* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header h1 {
  text-align: center;
  font-size: 40px;
  color: white;
}
.get-btn {
  font: inherit;
  background: #5102ac;
  border: 1px solid #5102ac;
  color: white;
  cursor: pointer;
  padding: 1.25rem 2.5rem;
  font-size: 1.5rem;
}
.pics {
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}
/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: rgb(17, 124, 143);
  color: white;
  padding: 16px 20px;
  border-radius: 25px;

  padding: 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  border-radius: 25px;

  padding: 20px;
  max-width: 350px;
  padding: 10px;
  background-color: rgb(17, 124, 143);
}

/* Full-width input fields */
.form-container input[type="text"],
.form-container input[type="url"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type="text"]:focus,
.form-container input[type="url"]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4caf50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}
header {
  padding: 40px;
  background-color: rgb(17, 124, 143);
}
fieldset {
  text-align: center;
  font-size: 20px;
}
nav {
  background-color: #333;
  overflow: hidden;
}
input[type="text"] {
  border: 2px solid red;
  border-radius: 4px;
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type="url"] {
  width: 60%;
}
input[type="text"] {
  transition: width 0.6s ease-in-out;
}

input[type="text"]:focus {
  width: 70%;
}
input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
textarea {
  width: 60%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}
select {
  width: 60%;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
  text-size-adjust: 20px;
}
nav a {
  text-decoration: none;
  padding: 20px;
  text-align: center;
  float: left;
  color: white;
}

main {
  background-color: white;
  text-align: center;
}

h2 {
  padding: 20px;
}

section:nth-child(even) {
  background-color: rgb(241, 241, 241);
}

section {
  min-height: 100vh;
}

video {
  padding: 10px;
}

iframe {
  height: 75vh;
}

img {
  padding: 10px;
}

section h5 {
  margin: 40px;
}

footer {
  background-color: #333;
  overflow: hidden;
}

footer a {
  text-decoration: none;
  padding: 20px;
  text-align: center;
  float: left;
  color: white;
}
